.user-table {
  margin: 20px;
}

.table-container {
  margin-bottom: 20px;
}

.user-table table th{
  background-color: rgba(21, 60, 106);
  color: white;
}


.pagination-controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 20px;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.pagination-controls button {
  background-color: rgb(44, 93, 149);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-controls button.active {
  background-color: #1abc9c;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-user-button {
  background-color: rgb(44, 93, 149);
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-user-button:hover {
  background-color: #1abc9c;
}


.user-form {
  background-color: rgba(136,182,205, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
}

.user-form .form-group {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}

.user-form label {
  width: 150px; 
  margin: 0 10px 0 10px; 
  font-weight: bold;
}

.user-form input, 
.user-form select {
  flex: 1; 
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-form button.submit-button {
  background-color: rgb(44, 93, 149);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
}

.user-form button.submit-button:hover {
  background-color: #1abc9c;
}
