body {
  font-family: courier new;
  font-size: 11pt;
}

.title-container h1 {
  font-family: courier new;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;

}

.login-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
}

.logo-container {
  margin-bottom: 20px;
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
}

.imgg{
  width: 100px;
  height: 100px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-weight: 600;
}

.input-group input {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input-group input:focus{
  border-color: #007bff;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form button {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  
}

.forgot-password:hover {
  text-decoration: underline;
}
